.form {
	display: flex;
	padding: 20px;
	justify-content: space-around;
}

.btn {
	width:200px;
}

.col-xs-2 {
	margin-right: 5px;
}

button {
	background: none;
	outline: 0;
	border: none;
	float: right;
}

button i {
	color: white;
}
